<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/css/registro.css">
    <!-- roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- icons -->
    <script src="https://kit.fontawesome.com/2f34d87609.js" crossorigin="anonymous"></script>

    <title>va de nuevo</title>
</head>

<body>


    <header class="main-header">



        <div class="top-header-container">


            <div class="logo-container">

                <a href="/home">
                    <img class="logo-img" src="/images/logo-mercado-liebre.svg" alt="logo de Mercado Liebre">
                </a>

            </div>



            <div class="search-bar">

                <input class="search-input" type="text" placeholder="Buscar productos, marcas">


                <i class="fa-solid fa-magnifying-glass search-icon"> </i>
            </div>



            <div class="buy-without-credit-card">

                <p class="top-header-text">
                    <i class="fa-solid fa-hand-holding-dollar"> </i>
                    Comprar en cuotas y sin targetas de credito
                </p>

            </div>

        </div>



        <nav class="main-nav">

            <div class="web-nav">

                <a href=""> Ofertas </a>

                <a href=""> Tiendas Oficiales </a>

                <a href=""> Vender </a>

                <a href="">Ayuda </a>

            </div>

            <div class="user-info-nav">

                <a href="/registro"> Creá tu cuenta
                    <i class="fa-solid fa-id-card"> </i>
                </a>

                <a href="/login"> Ingresá
                    <i class="fa-solid fa-right-to-bracket"> </i>
                </a>

                <a href=""> Mis compras
                    <i class="fa-solid fa-cart-shopping"> </i>
                </a>

            </div>
        </nav>

        <div class="burger-menu">

            <i class="fas   fa-bars"></i>

        </div>
    </header>






    <main>

        <form action="">

            <div class="form-container">


                <section>

                    <h1> Tus Datos:</h1>

                    <div class="item">


                        <input type="text" name="nombre" id="Nombre" minlength="3" required placeholder="Nombre">


                        <input type="text" name="Apellido" id="Apellido" minlength="2" required placeholder="Apellido">


                        <input type="email" name="correo-electronico" id="Emial" minlength="5" required
                            placeholder="Correo Electronico">


                        <input type="text" name="nombre-usuario" id="nombre-usuario" required
                            placeholder="Nombre de Usuario">


                        <input type="password" name="contraseña" id="contraseña" required placeholder=" Contraseña">


                        <input type="password" name="confirmar-contraseña" id="confirmar-contraseña" required
                            placeholder="Confirmar Contraseña">


                    </div class="item">

                    <input type="list" list="provincias" placeholder="Provincia">

                    <datalist id="provincias">

                        <option value="Buenos Aires"></option>

                        <option value="Ciudad Autónoma de Buenos Aires"></option>

                        <option value="Catamarca"></option>

                        <option value="Chaco"></option>

                        <option value="Chubut"></option>

                        <option value="Córdoba"></option>

                        <option value="Corrientes"></option>

                        <option value="Entre Ríos"></option>

                        <option value="Formosa"></option>

                        <option value="Jujuy"></option>

                        <option value="La Pampa"></option>

                        <option value="La Rioja"></option>

                        <option value="Mendoza"></option>

                        <option value="Misiones"></option>

                        <option value="Neuquén"></option>

                        <option value="Río Negro"></option>

                        <option value="Salta"></option>

                        <option value="San Juan"></option>

                        <option value="San Luis"></option>

                        <option value="Santa Cruz"></option>

                        <option value="Santa Fe"></option>

                        <option value="Tierra del Fuego"></option>

                        <option value="Tucumán"></option>

                    </datalist>

                    <input type="text" name="ciudad" id="ciudad" minlength="2" required placeholder="Ciudad">


                    <input type="text" name="domicilo" id="domicilo" minlength="2" required required
                        placeholder="Domicilo">


                    <article>

                        <h2>Fecha de Nacimiento</h2>
                        <input type="date" name="fecha-necimiento" id="fecha-necimiento" required>


                        <input type="number" name="DNI" id="DNI" minlength="8" required required placeholder="DNI">


                    </article>



                    <article class="user-profile-container">

                        <h2 class="title-user-profile">Perfil de usuario</h2>

                        <div class="buyer-radios">
                            <label for="user-profile">Comprador</label>
                            <input class="radio" type="radio" id="user-profile" name="user-profile" value="buyer"
                                required>
                        </div>

                        <div class="seller-radio">

                            <label for="user-profile">Vendedor</label>
                            <input class="radio" type="radio" id="user-profile" name="user-profile" value="seller"
                                required>
                        </div>

                    </article>



                    <article class="item-container">

                        <h2>Categorías de interés</h2>

                        <div class="items">

                            <label for="">Electro</label>
                            <input type="checkbox" name="user-interests" value="Electro" id="">

                        </div>

                        <div class="items">

                            <label for="">Moda</label>
                            <input type="checkbox" name="user-interests" value="Moda" id="">

                        </div>


                        <div class="items">

                            <label for="">Hogar</label>
                            <input type="checkbox" name="user-interests" value="Hogar" id="">

                        </div>

                        <div class="items">

                            <label for="">Juguetería</label>
                            <input type="checkbox" name="user-interests" value="Juguetería" id="">

                        </div>

                        <div class="items">

                            <label for="Vida-sana">Vida sana</label>
                            <input type="checkbox" name="user-interests" value="Vida-sana" id="Vida-sana">

                        </div>

                    </article>

                    <div class="item">
                        <label for="user-photo">Elegi una foto de perfil</label>
                        <input type="file" name="profile-user-photo" id="user-photo">
                    </div>

                    <div class="item">

                        <input type="reset">
                        <input type="submit">

                    </div>
                </section>
        </form>


    </main>




    <footer class="footer ">

        <div class="articles-footer-container">

            <article class="pay">


                <i class="fa-solid fa-credit-card footer-icon" nav-icon></i>

                <header class="footer-title">
                    <h4>Pagá con tarjeta o en efectivo</h4>
                </header>

                <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>


            </article>

            <article class="shipping">



                <i class="fa-solid fa-gift footer-icon"></i>

                <header class="footer-title">
                    <h4>Envío gratis desde $ 2.500</h4>
                </header>

                <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>



            </article>

            <article class="security">



                <i class="fa-solid fa-user-shield footer-icon "></i>

                <header class="footer-title">
                    <h4>Seguridad, de principio a fin</h4>
                </header>

                <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.!</p>



            </article>


        </div>

        <div class="container-copy">

            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

        </div>






    </footer>


</body>

</html>