:root {
  --Color-Amarillo: #eac926;
  --Color-Azul: #03264c;
  --Color-Celeste: #1259c3;
  --Color-Gris-oscuro: #666;
  --Color-Gris-claro: #d4d4d4;
  --Color-Verde: #39b54a;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  background-color: var(--Color-Gris-claro);
}

.home-banner {
  width: 100%;
}

/*--------------------------------*/
/*              HEADER            */
/*                                */
.main-header {
  background-color: var(--Color-Amarillo);
  font-size: 15px;
}

.logo-container,
.search-bar,
.buy-without-credit-card {
  padding: 15px;
}

.search-input {
  padding: 11px;
  border-radius: 5px;
  border: 0;
}
.search-icon {
  color: var(--Color-Gris-oscuro);
  position: relative;
  right: -91%;
  bottom: 28px;
  font-size: 10px;
}

.buy-without-credit-card {
  text-align: center;
}

.burger-menu {
  text-align: center;
}
.fas {
  margin: 20px;
  color: white;
  background-color: #0869cf;
  border-radius: 5px;
  padding: 10px;
}
/* header */

/* main */

main {
  background-color: var(--Color-Gris-claro);
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
}
.login-main-container {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

/* footer */
.footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
  margin: 0;
}
.footer-title {
  color: var(--Color-Gris-oscuro);
}
.footer-text {
  font-size: 16px;
  color: var(--Color-Gris-oscuro);
}

.footer-icon {
  font-size: 2em;
  color: #003063;
  text-align: center;
  transition: color 200ms;
}
.footer-icon:hover {
  color: rgb(4, 142, 255);
}

.pay,
.shipping,
.security {
  margin-bottom: 40px;
}

/* 

flex-box

*/
.top-header-container {
  display: flex;
}
.main-nav {
  display: flex;
}
.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

/* 


    media


*/

@media screen and (max-width: 399px) {
  /*                     header                 */

  .top-header-container {
    flex-wrap: wrap;
    flex-grow: 0.5;
    align-items: flex-start;
  }

  .search-bar,
  .logo-container {
    width: 50%;
  }
  .search-input,
  .logo-img {
    width: 100%;
  }

  .buy-without-credit-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .description,
  .main-nav {
    display: none;
  }

  /*                     main                     */

  h1 {
    color: var(--Color-Gris-oscuro);
    font-size: 22px;
    padding: 10px;
  }

  h2 {
    color: var(--Color-Gris-oscuro);
    font-size: 16px;
    padding: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 2.5px;
  }

  .user-profile-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .buyer-radios,
  .seller-radio {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
  }
  .items {
    width: 20%;
    display: flex;
    padding: 5px;
  }
}

/* 

*/
@media screen and (min-width: 400px) {
  /*              header                        */

  .top-header-container {
    align-items: center;
    justify-content: center;
  }

  .logo-container,
  .search-bar,
  .buy-without-credit-card {
    width: 33%;
  }

  .top-header-text,
  .search-input {
    width: 100%;
  }

  .top-header-text {
    font-size: 1.4vw;
  }

  .main-nav {
    display: flex;
    /* width: 80%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    justify-content: space-evenly;
  }
  [href=""] {
    margin: 0px 5px;
  }
  .web-nav,
  .user-info-nav {
    /* width: 30%; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .search-icon {
    top: -29px;
  }

  .burger-menu {
    display: none;
    width: 35%;
  }

  /* main  */

  h1 {
    color: var(--Color-Gris-oscuro);
    font-size: 22px;
    padding: 10px;
  }

  h2 {
    color: var(--Color-Gris-oscuro);
  }

  main {
    width: 60%;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 2.5px;
  }

  [type="submit"],
  [type="reset"] {
    transition: all 200ms;
  }

  [type="reset"]:hover {
    background-color: #00346b;
    color: white;
  }

  [type="submit"]:hover {
    background-color: #6e0000;
    color: white;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  [type="checkbox"] {
    width: 40px;
    height: 14px;
  }

  .items {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .top-header-container {
    align-items: center;
    justify-content: center;
  }

  .articles-footer-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
  /* main  */

  /* footer */

  footer div article {
    padding: 10px;
  }
}
/* 

*/

@media screen and (max-width: 600px) {
  .main-nav {
    font-size: 4.2vw;
    font-size: 1.2vh;
  }
}

/* 




*/
/* empieza desktop */
@media screen and (min-width: 800px) {
  .top-header-container {
    justify-content: space-evenly;
  }

  .web-nav [href],
  .user-info-nav [href] {
    margin: 0px 10px;
  }
}
