:root {
  --Color-Amarillo: #eac926;
  --Color-Azul: #03264c;
  --Color-Celeste: #1259c3;
  --Color-Gris-oscuro: #666;
  --Color-Gris-claro: #d4d4d4;
  --Color-Verde: #39b54a;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  background-color: var(--Color-Gris-claro);
}

.home-banner {
  width: 100%;
}

/*--------------------------------*/
/*              HEADER            */
/*                                */

.main-header {
  background-color: var(--Color-Amarillo);
  font-size: 15px;
}

.logo-container,
.search-bar,
.buy-without-credit-card {
  padding: 15px;
}

.search-input {
  padding: 11px;
  border-radius: 5px;
  border: 0;
}
.search-icon {
  color: var(--Color-Gris-oscuro);
  position: relative;
  right: -91%;
  bottom: 28px;
  font-size: 10px;
}

.buy-without-credit-card {
  text-align: center;
}

.burger-menu {
  text-align: center;
}
.fas {
  margin: 20px;
  color: white;
  background-color: #0869cf;
  border-radius: 5px;
  padding: 10px;
}

/*                                */
/*              HEADER            */
/*--------------------------------*/

/* ________________________________ */

/*--------------------------------*/
/*                                */
/*              MAIN              */

main {
  background-color: var(--Color-Gris-claro);
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

/*                                */
/*              MAIN              */
/*--------------------------------*/

/* ________________________________ */

/*--------------------------------*/
/*                                */
/*              FOOTER            */

.footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
  margin: 0;
}
.footer-title {
  color: var(--Color-Gris-oscuro);
}
.footer-text {
  font-size: 16px;
  color: var(--Color-Gris-oscuro);
}

.footer-icon {
  font-size: 2em;
  color: #0869cf;
  text-align: center;
}

.pay,
.shipping,
.security {
  margin-bottom: 40px;
}

/*                                */
/*              FOOTER            */
/*--------------------------------*/

/*________________FLEX-BOX________________*/
/*                                        */
/*                                        */

.top-header-container {
  display: flex;
}
.main-nav {
  display: flex;
}

/*                                        */
/*                                        */
/*________________FLEX-BOX________________*/

/* celu termina celu */
@media screen and (max-width: 399px) {
  /*                     header                 */

  .top-header-container {
    flex-wrap: wrap;
    flex-grow: 0.5;
    align-items: flex-start;
  }

  .search-bar,
  .logo-container {
    width: 50%;
  }
  .search-input,
  .logo-img {
    width: 100%;
  }

  .buy-without-credit-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .description,
  .main-nav {
    display: none;
  }

  /*                     main                     */

  h1 {
    color: var(--Color-Gris-oscuro);
    font-size: 22px;
    padding: 10px;
  }

  h2 {
    color: var(--Color-Gris-oscuro);
    font-size: 16px;
    padding: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 2.5px;
  }

  .user-profile-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .buyer-radios,
  .seller-radio {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
  }
  .items {
    width: 20%;
    display: flex;
    padding: 5px;
  }
  /* .title-user-profile {
    flex-grow: 0.5;
  }
  .user-profile-radio {
    flex-grow: 0.25;
  } */
}

/* empieza tablet tablet min 361*/
@media screen and (min-width: 400px) {
  /*              header                        */

  h1 {
    color: var(--Color-Gris-oscuro);
    font-size: 22px;
    padding: 10px;
  }

  h2 {
    color: var(--Color-Gris-oscuro);
    font-size: 16px;
    padding: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 2.5px;
  }

  .user-profile-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .buyer-radios,
  .seller-radio {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
  }
  .items {
    width: 20%;
    display: flex;
    padding: 5px;
  }

  main {
    width: 70%;
  }

  .top-header-container {
    align-items: center;
    justify-content: center;
  }

  .main-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .web-nav,
  .user-info-nav {
    display: flex;
    /* flex-grow: 1;ç */
  }

  div a {
    padding: 0px 2.5px;
  }

  .top-header-text {
    flex-wrap: nowrap;
  }

  .burger-menu {
    display: none;
  }

  /*                        mian                        */

  .main-title {
    color: var(--Color-Gris-oscuro);
  }

  h2 {
    color: var(--Color-Gris-oscuro);
  }
}

/* empieza desktop */
@media screen and (min-width: 800px) {
  .top-header-container {
    justify-content: space-evenly;
  }

  .search-icon {
    right: 8%;
    bottom: -1px;
  }
}
