:root {
  --Color-Amarillo: #eac926;
  --Color-Azul: #03264c;
  --Color-Celeste: #1259c3;
  --Color-Gris-oscuro: #666;
  --Color-Gris-claro: #d4d4d4;
  --Color-Verde: #39b54a;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  background-color: var(--Color-Gris-claro);
}

.home-banner {
  width: 100%;
}

/*--------------------------------*/
/*              HEADER            */
/*                                */
.main-header {
  background-color: var(--Color-Amarillo);
  font-size: 15px;
}

.logo-container,
.search-bar,
.buy-without-credit-card {
  padding: 15px;
}

.search-input {
  padding: 11px;
  border-radius: 5px;
  border: 0;
}
.search-icon {
  color: var(--Color-Gris-oscuro);
  position: relative;
  right: -91%;
  bottom: 28px;
  font-size: 10px;
}

.buy-without-credit-card {
  text-align: center;
}

.burger-menu {
  text-align: center;
}
.fas {
  margin: 20px;
  color: white;
  background-color: #0869cf;
  border-radius: 5px;
  padding: 10px;
}

/*                                */
/*              HEADER            */
/*--------------------------------*/

/* ________________________________ */

/*--------------------------------*/
/*                                */
/*              MAIN              */
main {
  background-color: var(--Color-Gris-claro);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

section {
  width: 100%;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}
.last-views-article,
.offer-section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
}
.titular {
  font: size 24px;
  color: var(--Color-Gris-oscuro);
}

.info-article {
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #cccccc;
  padding: 15px;
}

.fa-truck {
  margin: 0px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: #39b54a;
  border-radius: 50%;
  border: 1px solid #39b54a;
}

.container-truck {
  justify-content: flex-end;
  bottom: 35px;
}

.price {
  font-size: 18px;
}

.offer,
.description {
  font-size: 16px;
}

.offer {
  color: var(--Color-Verde);
}

.description {
  color: var(--Color-Gris-oscuro);
}
/*                                */
/*              MAIN              */
/*--------------------------------*/

/* ________________________________ */

/*--------------------------------*/
/*                                */
/*              FOOTER            */

.footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
  margin: 0;
}
.footer-title {
  color: var(--Color-Gris-oscuro);
}
.footer-text {
  font-size: 16px;
  color: var(--Color-Gris-oscuro);
}

.footer-icon {
  font-size: 2em;
  color: #0869cf;
  text-align: center;
}

.pay,
.shipping,
.security {
  margin-bottom: 40px;
}
/*                                */
/*              FOOTER            */
/*--------------------------------*/

/*________________FLEX-BOX________________*/
/*                                        */
/*                                        */

.top-header-container {
  display: flex;
}
.main-nav {
  display: flex;
}

.container-truck {
  display: flex;
  position: relative;
}

.container-truck {
  justify-content: flex-end;
  bottom: 35px;
}

.last-views-container,
.offer-section-container {
  display: flex;
}

/*                                        */
/*                                        */
/*________________FLEX-BOX________________*/

/* celu termina celu */
@media screen and (max-width: 399px) {
  /*                     header                 */

  .top-header-container {
    flex-wrap: wrap;
    flex-grow: 0.5;
    align-items: flex-start;
  }

  .search-bar,
  .logo-container {
    width: 50%;
  }
  .search-input,
  .logo-img {
    width: 100%;
  }

  .buy-without-credit-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .description,
  .main-nav {
    display: none;
  }

  .fa-truck {
    padding: 10px;
  }
  .container-truck {
    justify-content: flex-end;
    bottom: 35px;
  }

  /*                     main                     */

  .last-views-container,
  .offer-section-container {
    flex-direction: column;
  }
}

/* empieza tablet tablet min 361*/
@media screen and (min-width: 400px) {
  /*                         header                              */

  .top-header-container {
    align-items: center;
    justify-content: center;
  }

  .logo-container,
  .search-bar,
  .buy-without-credit-card {
    width: 33%;
  }

  .top-header-text,
  .search-input {
    width: 100%;
  }

  .top-header-text {
    font-size: 1.4vw;
  }

  .main-nav {
    /* width: 100%; */
    flex-direction: row;
    justify-content: space-around;
  }
  .web-nav,
  .user-info-nav {
    /* display: flex; */
    justify-content: space-around;
  }

  .burger-menu {
    display: none;
  }

  /*                        mian                        */

  .last-views-container,
  .offer-section-container {
    width: 100%;
    flex-grow: 0.5;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
  }

  .last-views-article,
  .offer-section {
    width: 40%;
    box-shadow: none;
    transition: all 300ms;
  }

  .description-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms;
  }

  .description-container:hover {
    visibility: visible;
    opacity: 1;
  }

  .last-views-article:hover,
  .offer-section:hover {
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
  }

  .container-truck {
    justify-content: flex-end;
    bottom: 35px;
  }

  /*  */

  .fas {
    height: 42px;
    transition: all 400ms;
  }
  .fas:hover {
    transform: rotate(-90deg);
  }
}

/* empieza desktop */
@media screen and (min-width: 800px) {
  .top-header-container {
    justify-content: space-evenly;
  }

  .search-icon {
    right: 8%;
    bottom: -1px;
  }

  .last-views-article,
  .offer-section {
    width: 20%;
  }
}
