:root {
  --Color-Amarillo: #eac926;
  --Color-Azul: #03264c;
  --Color-Celeste: #1259c3;
  --Color-Gris-oscuro: #666;
  --Color-Gris-claro: #d4d4d4;
  --Color-Verde: #39b54a;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  background-color: var(--Color-Gris-claro);
}

.home-banner {
  width: 100%;
}
/*--------------------------------*/
/*              HEADER            */
/*                                */
.main-header {
  background-color: var(--Color-Amarillo);
  font-size: 15px;
}

.logo,
.search-bar,
.buy-without-credit-card {
  padding: 15px;
}

.search-input {
  padding: 11px;
  border-radius: 5px;
  border: 0;
}
.search-icon {
  color: var(--Color-Gris-oscuro);
  position: relative;
  left: 177px;
  bottom: 43px;
  font-size: 10px;
}

.buy-without-credit-card {
  text-align: center;
}
.search-input {
  padding-right: 14px;
}

.burger-menu {
  text-align: center;
}
.fas {
  margin: 20px;
  color: white;
  background-color: #0869cf;
  border-radius: 5px;
  padding: 10px;
}

/*                                */
/*              HEADER            */
/*--------------------------------*/

/* ________________________________ */

/*--------------------------------*/
/*                                */
/*              MAIN              */
main {
  background-color: var(--Color-Gris-claro);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}
.last-views-article,
.offer-section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
}
.titular {
  font: size 24px;
  color: var(--Color-Gris-oscuro);
}

.info-article {
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #cccccc;
  padding: 15px;
}

.fa-truck {
  margin: 0px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: #39b54a;
  border-radius: 50%;
  border: 1px solid #39b54a;
}

.price {
  font-size: 18px;
}

.offer,
.description {
  font-size: 16px;
}

.offer {
  color: var(--Color-Verde);
}

.description {
  color: var(--Color-Gris-oscuro);
}
/*                                */
/*              MAIN              */
/*--------------------------------*/

/* ________________________________ */

/*--------------------------------*/
/*                                */
/*              FOOTER            */

.footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
  margin: 0;
}
.footer-title {
  color: var(--Color-Gris-oscuro);
}
.footer-text {
  font-size: 16px;
  color: var(--Color-Gris-oscuro);
}

.footer-icon {
  font-size: 2em;
  color: #0869cf;
  text-align: center;
}

.pay,
.shipping,
.security {
  margin-bottom: 40px;
}
/*                                */
/*              FOOTER            */
/*--------------------------------*/

/*________________FLEX-BOX________________*/
/*                                        */
/*                                        */

.last-views-container,
.offer-section-container {
  display: flex;
}

.search-bar-container {
  display: flex;
}

.container-truck {
  display: flex;
  position: relative;
}
/*                                        */
/*                                        */
/*________________FLEX-BOX________________*/

/* celu termina celu */
@media screen and (max-width: 360px) {
  /* header */

  .description,
  .main-nav {
    display: none;
  }

  .logo-img {
    width: 100px;
  }

  .search-bar-container,
  .logo-container {
    display: flex;
    flex-direction: row;
    display: inline-block;
  }

  .fa-truck {
    padding: 10px;
  }
  .container-truck {
    justify-content: flex-end;
    bottom: 35px;
  }

  /* main */
  .last-views-container,
  .offer-section-container {
    flex-direction: column;
  }
}

/* empieza tablet tablet min 361*/
@media screen and (min-width: 361px) {
  .last-views-article,
  .offer-section {
    box-shadow: 0px 0px 10px rgb(82, 82, 82);
  }

  .burger-menu {
    display: none;
  }

  .last-views-container,
  .offer-section-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* empieza desktop */
@media screen and (min-width: 769px) {
}
